.signin-container {

     width: 440px;
     min-width: 320px;
     min-height: 338px;
     overflow: hidden;

     padding: 44px;

     background-color: #FFFFFF;
           
     -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
     -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
     box-shadow: 0 2px 6px rgba(0,0,0,0.2);

}