 //应用 bootstrap reboot 后 material button 获得焦点时去除外边框。
button:focus {
  outline: none !important;
}

/*  * {
    &:focus {
      outline: none !important;  
    }
  } */

/*   
  label {
    margin-bottom: 0; // 2
  }
 
  
  a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]) {
      color: #3f51b5; // 3
    } */