.auth-layout-container{
   
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#f2f2f2;
    //background-color:rgb(0, 114, 198);
    background-image: url(../../../../assets/images/backgrounds/auth_bg_2.jpg);
    
    background-repeat: no-repeat,no-repeat;
    background-position: center center,center center;
    background-size: cover,cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-layout-container:before {

    content: "";
    position: fixed;
    //z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;

    //background: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.55);
       
}

.signin-container {
    
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 440px;
    width: calc(100% - 40px);
    padding: 44px;
    margin-bottom: 28px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    min-width: 320px;
    min-height: 338px;
    overflow: hidden;

}