
.auth-layout-container {
        
    //background-color:rgb(0, 114, 198);

    //background-color: rgb(0, 128, 157);
    //background-image: url(../../../../assets/images/backgrounds/auth_bg_1.jpg);
    
    background-color:#f2f2f2;
    //background-image: url(../../../../assets/images/backgrounds/auth_bg_2.jpg);
    background-image: url(../../../../assets/images/backgrounds/auth_bg_3.jpg);

    background-repeat: no-repeat,no-repeat;
    background-position: center center,center center;
    background-size: cover,cover;
  
}

.auth-layout-container:before {

    content: "";
    
    position: fixed;
    width: 100vw;
    height: 100vh;

    //background: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.55);
       
}

.auth-layout-main {
  
    z-index: 1;
    width: 100vw;
    height: 100vh;  
}

.auth-layout-footer {
    background-color: rgba(0,0,0,.6);
}

.auth-layout-background-logo {
    margin-bottom: 24px;
}

.auth-layout-page-container {

    width: 440px;
    min-width: 320px;
    min-height: 338px;
    overflow: hidden;

    padding: 44px;

    background-color: #FFFFFF;
          
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

}

@media (max-width: 599.99px)  {
     
    .auth-layout-content {
        flex:auto;
    }

    .auth-layout-background-logo {
        margin-top: 24px;
    }

    .auth-layout-page-container {
        padding: 24px;
    }
}